table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.movie-table +.projection-table{
margin-bottom: 50px;
}

tr:first-child{
background-color: #7b7fb9;
font-weight: bolder;
}